@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,600&display=swap");

body {
  letter-spacing: 0.2em;
}

.site-title {
  letter-spacing: 0.5em;
}

h1,
.text-alpha {
  letter-spacing: 0.2em;
}

