$spanish-gray: #939393ff;
$dim-gray: #6e6e6eff;
$davys-grey: #4c4c4cff;
$eerie-black: #1f1f1fff;
$rick-black: #101010;
$rich-black-fogra-39: #0a0a0aff;

$body-background-color: $rick-black;
$sidebar-color: $rick-black;
$border-color: $grey-dk-200;

$body-text-color: $grey-lt-300;
$body-heading-color: $grey-lt-000;
$nav-child-link-color: $dim-gray;
$search-result-preview-color: $dim-gray;

$link-color: $spanish-gray;
$btn-primary-color: $dim-gray;
$base-button-color: $davys-grey;

$code-background-color: $eerie-black;
$search-background-color: $eerie-black;
$table-background-color: $eerie-black;

$body-font-family: 'Inconsolata', 'arial', source-sans-pro, 'Helvetica Neue', Helvetica, Arial, sans-serif;

$nav-width: 270px;
$nav-width-md: 270px;