//
// Form elements
//
// stylelint-disable color-named

button,
input,
optgroup,
select,
textarea {
  background-color: $search-background-color;
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}